<!-- 		CONTAINER WRAPPER -->
		<div class = 'container wrapper'>
<!-- 			HEADER -->
			<header>
				<h2>GROWL</h2>
			</header>
<!-- 			FORM  -->
			<form name='frmOne' action='/feed' method='post'>
				<p>
					Growl : <input type='text' name='growl' value='' placeholder='Say What You Need To Say'>
				</p>
				<p>
					<input type='submit' value='Growl'>
				</p>
			</form>	

<!-- 			FEED  -->
			<section>

				<!-- Need to pull tet out of this array -->
				<ul id="growl_list">
				<% @growl_feed.each do |item| %>
					<li><%= item %></li>
				<% end %>
				</ul>

			</section>
		</div>