<!-- 		CONTAINER WRAPPER -->
		<div class = 'container wrapper'>
<!-- 			HEADER -->
			<header>
				<h1 class="font header1">Growler</h1>
			</header>
<!-- 			FORM  -->
			<div class="row">
				<form class= "col-xs-4" name='frmOne' action='/feed' method='post'>
					<p class="font">
						<input class="growl_box" type='text' name='growl' value=''>
					</p>
					<p>
						<input class="button" type='submit' value='Growl'>
					</p>
				</form>	
<!-- 			FEED  -->
				<section class="col-xs-8">
					<h2>Growl Feed:</h2>
					<ul id="growl_list">
					<% @growl_feed.each do |item| %>
						<li class="font"><%= item %></li>
					<% end %>
					</ul>
				</section>
			</div>
		</div>