<!DOCTYPE html>

<html>
	<head>
		<title>Growler</title>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
<!-- 		CONTAINER WRAPPER -->
		<div class = 'container wrapper'>
<!-- 			HEADER -->
			<header>
				<h2>GROWL</h2>
			</header>
<!-- 			FORM  -->
			<form name 'frmOne' action = '' method = 'post'>
				<p>
					Growl : <input type='text' name = 'message' value = '' placeholder = 'Say What You Need To Say'>
				</p>
				<p>
					<input type = 'button' value = 'Growl'onClick ='validate()'>
				</p>
			</form>	

<!-- 			FEED  -->
			<section>Growl Feed Goes Here</section>

		<%= yield %>
		</div> 
	</body>
</html>