<!DOCTYPE html>

<html>
<head>
	<title>Growler</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<form type="text">Growls Go Here!</form>

	<section>Growl Feed Goes Here</section>

<%= yield %>


</body>
</html>