
/********
GENERAL
********/

html {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	background-color: #fff;
}



/********
HEADER
********/
header {
	margin: 0 auto;
	border: 3px;
	padding: 10px;
}


/********
PAGE
********/

#growl_list {
	list-style: none;
}






/********
FOOTER
********/